{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "node": true
    },
    "ignorePatterns": [
        "node_modules/",
        "dist/",
        "package-lock.json",
        "README.md"
    ]
}